<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Secret Room</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header th:replace="index :: top">Header</header>
	<section>
	    <h1 th:text="|Welcome ${name}|" >Welcome $doctorname</h1>
	    <h3 th:text="|Your number is ${number}|">Your number is $doctornumber</h3>
	</section>
	<footer th:replace="index :: bottom">Footer</footer>
</body>
</html>